/* GENERAL */
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
    display: flex; 
    flex-direction: column; 
    min-height: 100vh; margin: 0; 
}

/* CABECERA */
header {
    background: #003366;
    color: white;
    padding: 20px;
    text-align: center;
}

.foto-perfil {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 10px;
    border: 3px solid #333;
}

/* MENÚ */
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background: #005599;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0;
}

nav ul li a {
    display: block;
    padding: 15px 20px;
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    background: #003f73;
}

/* CONTENIDO */
main {
    text-align: justify;
    padding: 20px;
    background: rgb(195, 226, 255);
    margin: 20px auto;
    width: 90%;
    max-width: 900px;
    border-radius: 8px;
    flex: 1;
}

/* PIE DE PÁGINA */
footer {
    background: #003366;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 0px;
}
